.sort-button {
    font-size: 10pt;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sort-button-option {
    width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    white-space: nowrap;
    outline: 0;
    border: 0;
    font-weight: 500;
    padding: 5px;
}