.board{
    overflow-x: auto;
    display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    align-items: flex-start;
}

.hello-message{
    color: #fff;
}
.navbar-light{
    background-color: rgba(0, 0, 0, 0.35);
}